
@import "general";

// COLORS
$sidebar-bg-color: #212120;

// BUTTONS + FORMS
$input-border-radius: .10rem;
$input-btn-focus-width: 2px !default;
$input-btn-focus-box-shadow: 0px 0px 3px rgba(0, 0, 0, .5) !important;
$input-focus-border-color: $primary;
$btn-font-weight: 500;
$btn-border-radius: .13rem;
$btn-border-radius-sm: .1rem;
$btn-border-radius-lg: .13rem;

// MODAL
$modal-content-border-radius: .15rem;

// LIST-GROUP
$list-group-item-padding-y: .4rem;
$list-group-bg: #fff;
$list-group-border-radius: 0;

// CARD
$card-border-radius: .10rem;
$card-border-width: 0;
$card-cap-bg: $white;
$card-spacer-x: .75rem;

// IMAGE THUMBNAILS
$thumbnail-border-radius: .10rem;
$thumbnail-box-shadow: 3px 3px 3px black;

$custom-file-text: (
    pt: "Buscar"
);