
// COLORS
$primary: #00a0f0;
$primary-lighter: #28bffc;
$primary-darker: #0D8DC4;

$danger: #c11d01;
$warning: #c1b701;
$success: #01c12d;
$light: #f8f9fa;
$white: #ffffff;

$custom-gray: #4C5867;
$custom-dark-blue: #04091e;

// COLOR BRANDS
$facebook: #4267B2;
$google: #DB4437;
$twitter: #1DA1F2;

$custom-file-text: (
    pt: "Buscar"
);
