
// COLORS
$primary: #00a0f0;
$primary-lighter: #28bffc;
$primary-darker: #0D8DC4;

$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

$danger: #c11d01;
$warning: #c1b701;
$success: #01c12d;
$light: #f8f9fa;
$white: #ffffff;

$custom-gray: #4C5867;
$custom-dark-blue: #04091e;

$dropdown-border-radius: 1px;
$dropdown-border-width: 0;
$dropdown-box-shadow: 2px 2px 2px rgba(0, 0, 0, .8);

// COLOR BRANDS
$facebook: #4267B2;
$google: #DB4437;
$twitter: #1DA1F2;

$custom-file-text: (
    pt: "Buscar"
);

$dropdown-item-padding-y: .4rem;

.dropdown-item {
	font-size: .93rem;
}

.dropdown-menu {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
}
