
@import "general";

// FORMS
$input-padding-x: 0;
$input-box-shadow: 0;
$input-focus-width: 0;
$input-border-width: 0;
$input-border-radius: 0;
$input-focus-box-shadow: 0;
$form-group-margin-bottom: 1.8rem;
$input-placeholder-color: $gray-600;
$input-focus-border-color: $primary-darker;
$custom-checkbox-indicator-border-radius: .1rem;

// BUTTONS
$btn-font-weight: 500;
$btn-border-radius: .1rem;
$btn-border-radius-lg: .15rem;
$btn-border-radius-sm: .1rem;
$input-btn-focus-width: 2px;
$input-btn-focus-color: $primary-darker;
$input-btn-focus-box-shadow: 0 2px 4px rgba(0, 0, 0, .4);
$btn-box-shadow: none;
$btn-transition: all .13s;

// NAVS
$nav-link-border-width: 3px;
$nav-pills-border-radius: .1rem;

// MODAL
$modal-content-border-width: 0;
$modal-content-border-radius: .15rem;
$modal-header-border-width: 0;

// LIST-GROUP
$list-group-item-padding-y: .4rem;
$list-group-bg: #fff;
$list-group-border-radius: 0;

// CARD
$card-border-radius: .10rem;
$card-border-width: 0;
$card-cap-bg: $white;
$card-spacer-x: .75rem;

// IMAGE THUMBNAILS
$thumbnail-border-radius: .10rem;
