// COLORS
$primary: #0299d6;
$primary-lighter: #28bffc;
$primary-darker: #018ec6;

$danger: #c11d01;
$warning: #c1b701;
$success: #01c12d;
$light: #f8f9fa;
$white: #ffffff;

$custom-gray: #4C5867;
$custom-dark-blue: #04091e;

// COLOR BRANDS
$facebook: #4267B2;
$google: #DB4437;
$twitter: #1DA1F2;

// BUTTONS + FORMS
$input-border-radius: .10rem;
$input-btn-focus-width: 1px !default;
$btn-font-weight: 500;
$btn-border-radius: .1rem;
$btn-border-radius-sm: .1rem;
$btn-border-radius-lg: .1rem;

// NAVS
$nav-link-border-width: 3px;
$nav-pills-border-radius: .1rem;

// MODAL
$modal-content-border-radius: .15rem;

// LIST-GROUP
$list-group-item-padding-y: .4rem;
$list-group-bg: #fff;
$list-group-border-radius: 0;

// CARD
$card-border-radius: .10rem;
$card-border-width: 0;
$card-cap-bg: $white;
$card-spacer-x: .75rem;

// IMAGE THUMBNAILS
$thumbnail-border-radius: .10rem;
$thumbnail-box-shadow: 3px 3px 3px black;

$custom-file-text: (
    pt: "Buscar"
);
