.navbar {
  @include box-shadow(0px 0px 10px rgba(0, 0, 0, .2));
}

.navbar-nav .nav-link {
  @include transition(box-shadow .3s);
}

.navbar-nav.ml-auto .nav-link:hover {
  color: $primary;
}

.nav-item.active i {
  color: $primary;
}

.navbar-toggler[aria-expanded="true"] {
  color: $primary !important;
  border-color: $primary;
}

.logo {
  max-width: 150px;
}

#sidebarCollapse.active {
  color: $primary;
}

@include media-breakpoint-down(md) {
  .navbar .logo {
    max-width: 130px;
  }
    
  #sidebarCollapse {
    color: $primary;
  }

  #sidebarCollapse.active {
    color: initial;
  }
}
