.card {
    @include box-shadow(0px 1px 1px rgba(0, 0, 0, .3));
}

// Necessário quando se utiliza a classe "card-img-overlay"
// juntamente com "card-header", "card-body" ou "card-footer"
.card .card-header,
.card .card-body,
.card .card-footer {
	z-index: 1;
}

.card .card-footer,
.card .card-header {
    font-family: 'Raleway';
}
.card .card-header {
	font-size: .9rem;
}

.card-footer a {
	font-size: .95rem;
	background-color: rgba(0, 0, 0, .05);
	@include transition(all .1s);
}

.card-footer a:hover {
	background-color: rgba(0, 0, 0, .1);
	color: $primary-darker;
}
