#courses .card-body.info {
	font-size: .9rem;
}

#sidebarCourses .list-group {
    font-weight: 400;
    font-size: 1rem;
}

#sidebarCourses .list-group-item.active {
    font-weight: 600;
    color: $primary;
    background-color: $light;
    z-index: 0;
}

#sidebarCourses .list-group-item:hover {
    background-color: $light;
}

#coursesRelated .list-group-item:hover {
	background-color: $light;
}

#coursesRelated .list-group-item:hover span {
	color: $primary-darker !important;
}