.navbar {
  padding-bottom: 0px !important;
}

.navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
    // padding-top: 20px;
    // padding-bottom: 20px;
    @include transition(box-shadow .3s);
}

.navbar-nav.mr-auto .nav-link:hover {
    @include box-shadow(0 $nav-link-border-width 0 $primary);
}

.navbar-nav.ml-auto .nav-link:hover {
    color: $primary;
}

.nav-item.active .nav-link {
    color: $primary !important;
}

.navbar-toggler[aria-expanded="true"] {
    color: $primary !important;
    border-color: $primary;
}

@include media-breakpoint-down(sm) {
    .navbar .logo {
        max-width: 130px;
    }
}

/** Admin */
#adminNavbar {
  padding: 10px !important;
}

#adminNavbar .nav-link {
  padding: 0;
  font-size: inherit !important;
}

#adminNavbar .navbar-nav .dropdown-menu {
  position: absolute;
}

#adminNavbar .nav-link:hover {
  box-shadow: none !important;
}
