.text-primary-l {
    color: $primary-lighter;
}

.text-primary-d {
    color: $primary-darker;
}

.text-gray-dark {
	color: rgb(100, 100, 100);
}

.text-grayish {
    color: #505561;
}

.text-facebook,
.text-google,
.text-twitter {
    color: rgba(0, 0, 0, .3);
}

.text-facebook:hover {
    color: $facebook;
}

.text-google:hover {
    color: $google;
}

.text-twitter:hover {
    color: $twitter;
}
