
.flip-container {
    perspective: 1000px;
    transform-style: preserve-3d;
    width: 100%;
    height: 140px;
    position: relative;
}

.flipper {
    position: relative;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 600ms;
    z-index: 20;
}

.flipper .front,
.flipper .back {
	border-radius: 1px;
	position: absolute;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	box-shadow: 0 0 8px rgba(0, 0, 0, .1);
}

.flipper .back {
	padding: .75rem; 
	transform: rotateX(180deg);
}

.flip-container:hover .flipper {
    transform: rotateX(180deg);
}

.flipper {
    transform: rotateX(0);
}