@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

@mixin transform($value) {
    @include css3-prefix('transform', $value);
}

@mixin box-shadow($value) {
    @include css3-prefix('box-shadow', $value);
}

@mixin background-size($value) {
    @include css3-prefix('background-size', $value);
}

@mixin border-radius($value) {
    @include css3-prefix('border-radius', $value);
}

@mixin animation($value) {
    @include css3-prefix('animation', $value);
}

@mixin bg-linear-gradient($value1, $value2) {
    background: -webkit-linear-gradient($value1, $value2);
    background: -moz-linear-gradient($value1, $value2);
    background: -ms-linear-gradient($value1, $value2);
    background: -o-linear-gradient($value1, $value2);
    background: linear-gradient($value1, $value2);
}