.border-2 {
  border-width: 2px;
}

.link-absolute {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
}

.\100-vh {
  height: 100vh !important;
}

.bg-custom-gray {
  background-color: $custom-gray !important;
}

.bg-custom-dark-blue {
  background-color: $custom-dark-blue !important;
}

.bg-primary-darker {
  background-color: $primary-darker !important;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.wrapper #content {
  width: 100%;
  min-height: 100vh;
}

.flex-95 {
  flex: .95;
}

.no-outline:focus {
  outline: none !important;
}

.focus-no-shadow:focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

[v-cloak] {
  display: none;
}

.shadow-none {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.divider:before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 400px;
  height: 2px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  background-color: $primary-darker;
}

.overlay-container {
  position: relative;
}

.overlay-container .overlay-content {
  background-color: rgba(0, 0, 0, .45);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.table-small td {
  padding: .5rem !important;
  font-size: .9rem;
}

input[disabled] {
  cursor: not-allowed;
}

.owl-parceiros .item img {
  width: 250px !important;
  border-radius: 3px;
}

.first-letter-upper::first-letter {
  text-transform: uppercase;
}

@include media-breakpoint-down(md) {
  .owl-parceiros .item img {
    width: 150px !important;
  }
}