.card {
    @include box-shadow(0px 0px 3px rgba(0, 0, 0, .2));
}

.card.bg-light .card-header,
.card.bg-light .card-body,
.card.bg-light .card-footer,
.card.bg-light .list-group,
.card.bg-light .list-group-item {
	background-color: $light;
}

.card .card-body {
	background-color: #fff;
}

.card .overlay-container {
	position: relative;
}

.card .overlay-container a {
	position: absolute;
	z-index: 1;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.card .card-header.border-bottom {
	box-shadow: inset 0 -4px 0 $primary-darker;
}

.card .card-footer,
.card .card-header {
    font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
}

.card-footer a {
	background-color: rgba(0, 0, 0, .05);
}

.card-footer a:hover {
	background-color: rgba(0, 0, 0, .1);
}

.overlay-container {
	position: relative;
}

.overlay-container .overlay-content {
	background-color: rgba(0, 0, 0, .45);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
