#courses .card-body.info {
	font-size: .9rem;
}

#coursesSidebar .list-group {
    font-size: .9rem;
}

#coursesSidebar .list-group-item {
	color: $dark;
}

#coursesSidebar .list-group-item.active {
	border-color: rgba(0, 0, 0, .125);
    color: $primary;
    background-color: $light;
}

#coursesSidebar .list-group-item:hover,
#coursesRelated .list-group-item:hover {
    background-color: $light;
}

#coursesRelated .list-group-item:hover span {
}