#course .course-description {
	font-family: 'Roboto', sans-serif;
	font-size: .95rem;
	color: $gray-700;
}

#course #pills-tabContent {
	font-size: .93rem;
}

#coursesCard .card:hover {
	@include box-shadow(0 0 7px 0 rgba(0, 0, 0, .2));
}

#coursesCard .card-img-top {
	object-fit: cover;
	min-height: 145px;
}

#coursesAreas .list-group {
	position: relative;
    font-size: .9rem;
}

#coursesAreas .list-group-item {
	border-color: $gray-200; 
	color: $gray-700;
}

#coursesAreas .list-group-item.active {
	border-color: $gray-200;
    color: $primary;
    background-color: $light;
}

#coursesAreas .list-group-item:hover,
#coursesRelated .list-group-item:hover {
    background-color: $light;
}
