// Change input background color when is autofilled
// input:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0 30px white inset !important;
// }

// input:focus:-webkit-autofill {
//     -webkit-box-shadow: 0 0 0 30px white inset !important;
// }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $white inset;
}

.form-md-group:first-of-type {
	margin-top: .8rem !important;
}

.form-md-group {
	position: relative;
	margin-bottom: $form-group-margin-bottom;
}

.form-md-group.invalid-group {
	margin-bottom: ($form-group-margin-bottom - 0.4rem);
}

.form-md-group .invalid-md-feedback {
	font-size: .8rem;
	color: $danger;
}

.form-md-group:not(.invalid-group) .invalid-md-feedback {
	display: none;
}

.form-md-group input {
	border-bottom-width: 1px !important;
	font-size: .95rem !important; 
	font-family: 'Arial', sans-serif;
}

.form-md-group.invalid-group input {
	border-color: $danger;
}

.form-md-group input:focus {
	border-color: $input-focus-border-color;
	box-shadow: 0px 1px 0px $primary-darker !important; 
}

.form-md-group.invalid-group input:focus {
	border-color: $danger;
	box-shadow: 0 1px 0 $danger !important;
}

.form-md-group input + label {
	color: $gray-600 !important;
	@include transition(all .2s);
	position: absolute;
	font-size: .85rem;
	cursor: text;
	transform: translateY(-28px);
}

.form-md-group input.active:focus + label {
	color: $primary-darker !important;
}

.form-md-group input.active + label,
.form-md-group input[placeholder] + label,
.form-md-group input:-webkit-autofill + label {
	font-size: .75rem;
	transform: translateY(-48px) !important;
}
