.navbar {
  @include box-shadow(0px 0px 10px rgba(0, 0, 0, .2));
  padding-bottom: $nav-link-border-width;
  padding-top: $nav-link-border-width;
}

.navbar-nav.mr-auto .nav-link {
  line-height: 55px;
}

.navbar-nav.mr-auto .nav-item {
  margin-right: 5px;
  margin-left: 5px;
}

.navbar-nav .nav-link {
    font-family: 'Open Sans', sans-serif;
    font-size: .85rem;
    @include transition(box-shadow .3s);
}

.navbar-nav.mr-auto .nav-link:hover {
    @include box-shadow(0 $nav-link-border-width 0 $primary);
}

.nav-item.active .nav-link {
    color: $primary !important;
}

.navbar-toggler[aria-expanded="true"] {
    color: $primary !important;
    border-color: $primary;
}

#navButtons .nav-link[class*="btn-"] {
  color: $white;
}

#navButtons .nav-link[class*="btn-outline-"] {
  color: $primary;
}

#navButtons .nav-link[class*="btn-outline-"]:hover {
  color: $white;
}

.close {
  font-weight: 100 !important;
  box-shadow: none !important;
}

@include media-breakpoint-down(lg) {
    .navbar-nav.mr-auto .nav-link {
        line-height: initial;
    }
}

@include media-breakpoint-down(sm) {
    .navbar .logo {
        max-width: 130px;
    }
}