
.ribbon {
	position: absolute;
	color: $light;
}

.ribbon:after,
.ribbon:before {
	content: '';
	width: 0;
	height: 0;
	position: absolute;
}

.overlay-container .ribbon-left {
	font-size: .95rem;
	background-color: $gray-600;
	border-radius: 0;
	padding: .18rem 1rem .18rem .5rem;
	left: -14px;
	bottom: 10px;
	box-shadow: 5px 2px 10px rgba(0, 0, 0, .2);
	transition: all .2s;
}

.overlay-container .ribbon-left:after,
.overlay-container .ribbon-left:before {
	border-style: solid;
	transition: border-color .2s;
}

.overlay-container .ribbon-left:after, {
    border-width: 4px 7px;
	border-color: $gray-700 $gray-700 transparent transparent;
    left: 0;
    bottom: -8px;
}

.overlay-container .ribbon-left:before {
    border-width: 14px;
	border-color: transparent transparent transparent $gray-600;
    right: -28px;
    top: 0;
}

.overlay-container .horizontal-ribbon {
	box-shadow: 0px -2px 5px rgba(0, 0, 0, .3);
	position: absolute;
	font-size: .9rem;
	font-weight: 600;
	transform: scale(1.06);
	width: 100%;
	padding: 4px;
	bottom: -5px;
	background-color: $primary;
}

.overlay-container .horizontal-ribbon:after,
.overlay-container .horizontal-ribbon:before {
	border-style: solid;
	border-width: 5px;
	transition: border-color .2s;
	top: -10px;
}

.overlay-container .horizontal-ribbon:after {
	border-color: transparent transparent $primary-darker $primary-darker;
    right: 0px;
}

.overlay-container .horizontal-ribbon:before {
	border-color: transparent $primary-darker $primary-darker transparent;
    left: 0px;
}
.overlay-container .corner-right-ribbon span  {
	display: inline-block;;
	transform: rotate(-11deg);
}

.overlay-container .corner-right-ribbon {
	box-shadow: 2px 1px 5px rgba(0, 0, 0, .3);
	font-weight: 600;
	top: 0;
	left: 0;
	background-color: $primary;
	border-style: solid;
	border-width: 4px;
	border-color: $primary;
	padding: 5px 15px 15px 5px;
	border-bottom-right-radius: 100%;
	font-size: 1.2rem;
}

.card:hover .overlay-container .ribbon-left {
	background-color: $primary;
}

.card:hover .overlay-container .ribbon-left:after {
	border-color: $primary-darker $primary-darker transparent transparent;
}

.card:hover .overlay-container .ribbon-left:before {
	border-color: transparent transparent transparent $primary;
}

.card .overlay-container .ribbon-left .ribbon-hide {
	display: none;
	margin-left: 10px;
}

.card:hover .overlay-container .ribbon-left .ribbon-hide {
	display: inline;
}
