#servicos .service-item {
	padding: 1rem;
	border-radius: 1px;
	color: $primary;
	text-align: center;
	background-color: $light;
	box-shadow: 0 0 8px rgba(0, 0, 0, .1);
	min-height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#servicos .service-item .service-name {
	color: $dark;
	font-weight: 600;
}