#servicos .service-item {
	padding: 1rem;
	color: $primary;
	text-align: center;
	background-color: $light;
	min-height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#servicos .service-item .service-name {
	color: $dark;
	font-weight: 600;
}

#servicos .service-item .service-icon {
	text-align: center;
	color: $primary;
}

#servicos .service-description {
	text-align: center;
	background-color: $primary;
	color: $white;
	font-size: .75rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#servicos .service-description .service-name {
	margin-bottom: 10px;
	text-decoration: underline;
}

@include media-breakpoint-down(md) {
	.service-item {
		font-size: .8rem;
	}

	.service-description p {
		font-size: .7rem;
	}
}