
// General
@import "../general/all";

// Specific
@import "navbar";
@import "navbar-icons";
@import "buttons";
@import "main-news";
@import "news";
@import "courses";
@import "cards";
@import "tables";
@import "news";
@import "forms";
@import "ribbons";
@import "services";

.bg-parallax {
	background: url('/images/services.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}